<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <script src="https://unpkg.com/htmx.org@2.0.1"
        integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
        crossorigin="anonymous"></script>
    <script>
        const url = `https://tek-tools.onrender.com/`; // Replace with your Render URL
        const interval = 30000; // Interval in milliseconds (30 seconds)

        function reloadWebsite() {
            axios.get(url)
                .then(response => {
                    console.log(`Reloaded at ${new Date().toISOString()}: Status Code ${response.status}`);
                })
                .catch(error => {
                    console.error(`Error reloading at ${new Date().toISOString()}:`, error.message);
                });
        }
        setInterval(reloadWebsite, interval);    
    </script>

    <style>
        html,
        body {
            height: 100vh;
        }
    </style>

</head>

<body>
    <div class="hero is-fullheight">
        {% include "navbar.html" ignore missing %}

        {% include "ip-to-list.html" ignore missing %}

        <footer class="footer section is-small mgt-small">
            <div class="content has-text-centered">
                <p>Made by KE</p>
            </div>
        </footer>
    </div>
</body>

</html>